@font-face {
    font-family: starwars;
    src: url(/Dia8/fuentes/Starjout.ttf);
}
@font-face {
    font-family: starwars2;
    src: url(/Dia8/fuentes/STARWARS.TTF);
}
.titulo{
    position: absolute;
    font-family: starwars;
    color: yellow;
    top: 2vi;
    left: 20vi;
    font-size: 10vi;
}
.texto1{
    position: absolute;
    font-family: starwars;
    color: white ;
    top: 18vi;
    left: 32vi;
    font-size: 2vi;
}



.img1{
    position: absolute;
    top: 10vi;
    left: 5vi;
    transform: rotate(25deg);
}
.img2{
    position: absolute;
    top: 12vi;
    left: 80vi;
    transform: rotate(-25deg);
}
.img3{
    position: absolute;
    top: 30vi;
    left: 7vi;
    transform: rotate(-10deg);
}

.img5{
    position: absolute;
    top: 35vi;
    left: 75vi;
    transform: rotate(35deg);
}


#result ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#result ul li {
    margin-bottom: 5px;
    position: relative;
    padding-left: 25px;
    text-align: center;
}

#result ul li::before {
    content: "\2022"; 
    left: 0;
    color: white; 
    text-align: center;
}


