
body {
    height: 100vh;
    margin: 0;
    background-image: linear-gradient(to bottom, #73bbf6, #ffffff);
}


.img1{
    position: absolute;
    left: 39vi;
    top: 3vi;
}


  
.gif {
    position: absolute;
    bottom: 55%;
    left: 50%;
    transform: translate(-63%, 20%);
    height: 18%;
  }
  
.pokemon__data {
    position: absolute;
    font-weight: 600;
    color: #aaa;
    top: 28vi;
    right: 27%;
    font-size: 1.8vi;
    left: 51vi;
  }
  
.pokemon__name {
    color: #000000;
    text-transform: capitalize;
  }
  
.form {
    position: absolute;
    width: 65%;
    top: 65%;
    left: 13.5%;
  }
  
.input1 {
    position: absolute;
    width: 18vi;
    padding: 0.7vi;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600;
    color: #3a444d;
    font-size: clamp(8px, 5vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
    left: 28.5vi;
    
  }
  

  
.button1 {
    position: absolute;
    width: 7vi;
    padding: 0.5vi;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    top: 37vi;
    left: 42.5vi;
  }
.button2 {
    position: absolute;
    width: 7vi;
    padding: 0.5vi;
    border: 2px solid #000;
    border-radius: 5px;
    font-size: clamp(8px, 5vw, 1rem);
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
    top: 37vi;
    left: 52.5vi;
  }
