.fondo{
    background-color: black;
}

.recuadro{
    position: absolute;
    width: 100vi;
    height: 25vi;
    background-color: rgb(202, 202, 202);
}

.cuadro2{
    position: absolute;
    top: 10vi;
    width: 38vi;
    height: 25vi;
    background-color: white;
    left: 28vi;
}
.cuadro3{
    position: absolute;
    top: 10vi;
    width: 38vi;
    height: 8vi;
    background-color: rgb(240, 240, 240);
    left: 28vi;
}
.linea{

    position: absolute;
    top: 18vi;
    width: 38vi;
    height: 0.02vi;
    background-color: rgb(90, 90, 90);
    left: 28vi;

}
.img{
    position: absolute;
    top: 11vi;
    left: 41.5vi;
    width: 10vi;
    height: 10vi;
    border-radius:150px;
    border:0.02vi solid #666;
}
.icono1{
    position: absolute;
    width: 4vi;
    left: 29.5vi;
    top: 28vi;
    cursor: pointer;
}
.icono2{
    position: absolute;
    width: 5vi;
    left: 35vi;
    top: 28.5vi;
    cursor: pointer;
}
.icono3{
    position: absolute;
    width: 4vi;
    left: 40.5vi;
    top: 28vi;
    cursor: pointer;
}
.icono4{
    position: absolute;
    width: 3.5vi;
    left: 46.5vi;
    top: 28.5vi;
    cursor: pointer;
}
.icono5{
    position: absolute;
    width: 4vi;
    left: 51.5vi;
    top: 28.4vi;
    cursor: pointer;
}
.icono6{
    position: absolute;
    width: 3.8vi;
    left: 57.5vi;
    top: 27.8vi;
    cursor: pointer;
}


#titulo1{
    position: absolute;
    top: 21vi;
    left: 43.7vi;
    color: #666;
    width: 6vi;
}
.texto1{
    position: absolute;
    width: 18vi;
    text-align: center;
    left: 38vi;
    top: 22vi;
    font-size: 2vi;
}
#titulo2{
    position: absolute;
    top: 21vi;
    left: 42.9vi;
    color: #666;
    width: 8vi;
}
.texto2{
    position: absolute;
    width: 15vi;
    text-align: center;
    left: 35vi;
    top: 22vi;
    font-size: 2vi;
}

#titulo3{
    position: absolute;
    top: 21vi;
    left: 43.8vi;
    color: #666;
    width: 6vi;
}
.texto3{
    position: absolute;
    width: 25vi;
    text-align: center;
    left: 34.5vi;
    top: 22vi;
    font-size: 2vi;
}

#titulo4{
    position: absolute;
    top: 21vi;
    left: 43.8vi;
    color: #666;
    width: 6vi;
}
.texto4{
    position: absolute;
    width: 20vi;
    text-align: center;
    left: 36vi;
    top: 22vi;
    font-size: 2vi;
}
#titulo5{
    position: absolute;
    top: 21vi;
    left: 42.5vi;
    color: #666;
    width: 8vi;
}
.texto5{
    position: absolute;
    width: 15vi;
    text-align: center;
    left: 38.5vi;
    top: 22vi;
    font-size: 2vi;
}

#titulo6{
    position: absolute;
    top: 21vi;
    left: 44vi;
    color: #666;
    width: 8vi;
}
.texto6{
    position: absolute;
    width: 15vi;
    text-align: center;
    left: 39.2vi;
    top: 22vi;
    font-size: 2vi;
}