.fondo{
    background-color: black;
}

.recuadro{
    position: absolute;
    width: 100vi;
    height: 25vi;
    background-color: rgb(202, 202, 202);
}

.cuadro2{
    position: absolute;
    top: 10vi;
    width: 38vi;
    height: 25vi;
    background-color: white;
    left: 28vi;
}
.cuadro3{
    position: absolute;
    top: 10vi;
    width: 38vi;
    height: 8vi;
    background-color: rgb(240, 240, 240);
    left: 28vi;
}
.linea{

    position: absolute;
    top: 18vi;
    width: 38vi;
    height: 0.02vi;
    background-color: rgb(90, 90, 90);
    left: 28vi;

}
.img{
    position: absolute;
    top: 10vi;
    left: 41.5vi;
    width: 10vi;
    height: 10vi;
    border-radius:150px;
    border:0.02vi solid #666;
}
.icono1{
    width: 1vi;
}